xterm*termName: xterm-256color
xterm*facename: AtkynsonMono Nerd Font
xterm*facesize: 14
! Use regular clipboard for copy-pasting
xterm*selectToClipboard: true
XTerm*VT100.Translations: #override \
      Shift Ctrl<Key>V: insert-selection(CLIPBOARD) \n\ 
      Shift Ctrl<Key>V: insert-selection(PRIMARY) \n\ 
      Ctrl<Key>minus: smaller-vt-font() \n\
      Ctrl<Key>plus: larger-vt-font()  

